.container
  %h1.grid-12 About
  %p.grid-12 ZenCodeIt is an open video hosting platform built in Ruby on Rails. It uses the latest in web technologies to upload, processes and stream high quality videos to users.
  %h2.grid-12 Contributors
  %p.grid-02= image_tag "avatars/kevin.png", class: "shadow"
  .grid-04
    %h3 Kevin Sylvestre
    %p Kevin was born in Whitehorse, Yukon and moved to Waterloo, Ontario where he received a bachelor's degree in computer science at the University of Waterloo. He is a creative thinker and a passionate Ruby on Rails developer with a flair for style.
    %p When Kevin isn't coding, he is busy learning the principles of design and attempting to create simple but functional interfaces.
  %p.grid-02= image_tag "avatars/ernest.png", class: "shadow"
  .grid-04
    %h3 Ernest Surudo
    %p Ernest moved to Hamilton, Ontario from Poland at a young age and is currently completing a bachelor's degree in computer science at the University of Waterloo. He is coding guru and also a talented writer, photographer and musician.
    %p In addition to being a great developer, Ernest is also an entrepreneur with the goal of bringing great ideas to fruition.
  %h2.grid-12 Technologies
  %p.grid-12 ZenCodeIt is created using Ruby on Rails and uses Zencoder to process all videos. All media is stored to Amazon's Simple Storage Solution and distributed with Amazon's Cloud Front CDN.
  .clear
