.container
  %h1.grid-12 Terms
  .grid-06
    %h2 You must be human!
    %p.justify.icon.human Bots need not apply. We will track you down, Bladerunner-style. The “human” requirement may be loosened in the future if other sentient life forms are discovered. Here, “human” also requires you to be 13.
  .grid-06
    %h2 You must not be a clone!
    %p.justify.icon.clone Only one account per entity, please. Otherwise, we will be forced to assume that you have a clone, and cloning is a moral and legal grey area at this point in time. Exceptions won't even be be made for Dolly the sheep.
  .grid-06
    %h2 You are the owner of your content!
    %p.justify.icon.owner We do not take ownership of any of the video content you upload to us, that stays with you! Also, it is necessary for you to ensure that you comply with any applicable copyright laws for any video content that you upload.
  .grid-06
    %h2 You are responsible for your content!
    %p.justify.icon.fault As we do not screen content, we cannot be held responsible for what is uploaded to our service. If you encounter something that is offensive to you or breaks a copyright, please let us know and we will act accordingly.
  .grid-06
    %h2 Changes to the terms.
    %p.justify.icon.royal We reserve the right to change these terms as necessary. Times change! We will stay true to the values outlined here, but tweaks are inevitable. We will notify all our customers of any important modifications.
  .grid-06
    %h2 Violation of the terms.
    %p.justify.icon.close Any violation of the above terms is grounds for account termination. We don’t want to do this, so we made the rules as simple to understand as possible! If you ever have any questions please contact us.
  .grid-06
    %h2 No illegal use.
    %p.justify.icon.legal Only upload your own work and you will be fine. By your own work, we mean work that you own the copyright for. You may also upload videos published under creative commons if you are looking for samples!
  .grid-06
    %h2 No malicious use.
    %p.justify.icon.buggy Only try to break the service in your own environment. We appreciate improving the software, however please do so by submitting patches and contacting the authors (not through denial of service attacks)!
  .clear
