%p.center
  = link_to image_tag('social/twitter.png' , alt: "Sign in with Twitter" ), auth_path(:twitter )
  = link_to image_tag('social/facebook.png', alt: "Sign in with Facebook"), auth_path(:facebook)
